<!DOCTYPE html>
<html>
<head>
    <title>TNT Viewer</title>
    <link
        rel="stylesheet"
        href="/static/libs/webix.min.css"
        type="text/css"
    />
    <script
        src="/static/libs/webix.min.js"
        type="text/javascript"
    ></script>
    <link href="/static/libs/skins/mini.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/app.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <script type="text/javascript" src="/static/app.js"></script>
</body>
</html>
